/*цвет текста основной #212121;*/
/*цвет текста вторичный #757575;*/
/*цвет текста WebStudio 000000 2196F3 FFFFFF*/
/*цвет текста кнопка, ссылки #2196F3;*/
/*нижние контакты 255, 255, 255, 0.6);*/
/*цвет фона оновной #E5E5E5;*/
/*цвет фона хедер #FFFFFF;*/
/*цвет фона шапка, футер  #2F303A;*/
/*цвет фона наша команта #F5F4FA*/
/*цвет фона наша команда карточки #FFFFFF;*/

body {
  color: #212121;
  background-color: #e5e5e5;
}

.page-header {
  background-color: #ffffff;
}
